---
import { Image } from "astro:assets";
import html from "../assets/skill/html.svg";
import css from "../assets/skill/css.svg";
import js from "../assets/skill/javascript.svg";
import react from "../assets/skill/React_dark.svg";
import astro from "../assets/skill/Astro_dark.svg";
import vue from "../assets/skill/vue.svg";
import nuxt from "../assets/skill/nuxt.svg";
---

<section class="skills">
  <h2 class="skills__title">Habilidades</h2>
  <div class="skills__list">
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={html} alt="Imagen de HTML5" />
      <span class="skills__list-item-text">HTML</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={css} alt="Imagen de CSS" />
      <span class="skills__list-item-text">CSS</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={js} alt="Imagen de JS" />
      <span class="skills__list-item-text">JavaScript</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={astro} alt="Imagen de Astro" />
      <span class="skills__list-item-text">Astro</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={react} alt="Imagen de React" />
      <span class="skills__list-item-text">React</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={vue} alt="Imagen de Vue" />
      <span class="skills__list-item-text">Vue js</span>
    </div>
    <div class="skills__list-item">
      <Image class="skills__list-item-image" src={nuxt} alt="Imagen de Nuxt" />
      <span class="skills__list-item-text">Nuxt js</span>
    </div>
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1.8rem;
  }

  .skills__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .skills__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .skills__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    color: #f5f5f5;
    font-size: 1.2rem;
    transition: .4s;
  }

  .skills__list-item-image {
    width: 3.125rem;
    height: 3.125rem;
    transition: .4s;
  }

  .skills__list-item-image:hover {
    scale: 1.3;
  }
</style>